In [1]:
import sqlite3

In [4]:
connection = sqlite3.connect("classroomDb.db")
connection.close()

In [8]:
connection = sqlite3.connect("classroomDb.db")
cursor = connection.cursor()

create_table = """ CREATE TABLE classroom_new (student_id INTEGER PRIMARY KEY, name VARCHAR(20),gender CHAR(1),physics_marks INTEGER,chemistry_marks INTEGER,mathematics_marks INTEGER); """
cursor.execute(create_table)
connection.commit()
connection.close()

In [9]:
data = [(1,"sahil","M",90,90,90),(2,"tejas","F",70,80,90),(3,"swapnil","M",50,60,50)]
connection = sqlite3.connect("classroomDb.db")
cursor = connection.cursor()

for student in data:
    insert_statement = """ INSERT INTO classroom_new VALUES ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],student[4],student[5])
    cursor.execute(insert_statement)

connection.commit()
connection.close()

In [10]:
connection = sqlite3.connect("classroomDb.db")
cursor = connection.cursor()
cursor.execute(" select * from classroom_new ")
result = cursor.fetchall()

for row in result:
    print(row)
    
connection.close()

(1, u'sahil', u'M', 90, 90, 90)
(2, u'tejas', u'F', 70, 80, 90)
(3, u'swapnil', u'M', 50, 60, 50)

In [11]:
!conda install -y -q pymssql

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda2

  added / updated specs:
    - pymssql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    freetds-1.00.91            |       hc64555f_0         983 KB
    conda-4.5.8                |           py27_0         1.0 MB
    pymssql-2.1.3              |           py27_0         310 KB
    ------------------------------------------------------------
                                           Total:         2.3 MB

The following NEW packages will be INSTALLED:

    freetds: 1.00.91-hc64555f_0
    pymssql: 2.1.3-py27_0

The following packages will be UPDATED:

    conda:   4.5.4-py27_0       --> 4.5.8-py27_0

Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [12]:
import pymssql

In [24]:
cnx = {
    'host':'PU-SDSK16277\MSSQLSERVER2014','username':'zs\sk16277','password':'Arvindk2k20?','db':'JAMS'}
connection = pymssql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])

cursor = connection.cursor()
cursor.execute(" select * from dbo.Events ")
result = cursor.fetchall()

for row in result:
    print(row)

conn.close()

(u'Event Two', u'JAMS_Event_19302', u'1c455cf6-8140-4dc3-b0aa-2699a31d620f', u'2018-01-01 00:00:00.0000000 +00:00', False, None, None, None, u'NotVisible', u'Never', 19302L, u'Succeeded', u'US_ZIP_2015A_v2', u'FromFullFeed', None, u'2018-03-12 12:48:49.1850455 +00:00', u'1108947|1108952|1109005|1109012', u'Shrestha_R20', u'Base', 1L, False, u'1900-01-01 00:00:00.0000000 +00:00', 1500L, 0, 0L, 0, False)